{% extends "@bootstrap_barrio/layout/page.html.twig" %}

{% block content %}
        <div id="main" class="{{ container }}">

          <div class="row row-offcanvas row-offcanvas-left clearfix">
              <main{{ content_attributes }}>
                <section class="section">
                  <a id="main-content" tabindex="-1"></a>
                  {{ page.content }}
                </section>
              </main>
          </div>
        </div>
{% endblock %}

{% block footer %}
        <div class="{{ container }}">
          {% if page.footer_fifth %}
            <div class="site-footer__bottom">
              {{ page.footer_fifth }}
            </div>
          {% endif %}
        </div>
{% endblock %}
